@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container">
    <div class="row" style="margin-top:40px;font-size:x-large;">

        <div class="col">
            <button class="alert-info alert-link  btn-block" style="font-size:x-large;">

                <span class="glyphicon glyphicon-alert"></span><span></span>
                @Html.ActionLink("View To Do List", "Login", "Account")
            </button>
        </div>*@
        